{{template "index" .}}

<form hx-post="/product/save/{{.ID}}" hx-target="#output" class="flex flex-col max-w-[20%] m-auto">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" placeholder="insert name..." value="{{.Name}}" required>
    <label for="version">Version: </label>
    <input type="text" name="version" id="version" value="{{.Version}}">
    {{range .Parameter}}
    <label for="parameter{{.ID}}">{{ .Name }}-{{ .Type }}-{{ .Comparer }}</label>
    {{ if eq .Type "datetime" }}
    <input type="datetime-local" name="parameter{{.ID}}" id="parameter{{.ID}}" required
           value="{{ if .ParameterValues }}{{(index .ParameterValues 0).Value }}{{ end }}">
    {{ else }}
    <input type="text" name="parameter{{.ID}}" id="parameter{{.ID}}" required
           value="{{ if .ParameterValues }}{{(index .ParameterValues 0).Value }}{{ end }}"
    >
    {{end}}
    {{end}}
    <input type="submit" value="save">
</form>
<div id="output"></div>
