{{template "index" .}}

<form hx-post="/product/save/{{.ID}}" hx-target="#output" class="flex flex-col max-w-[38%] m-auto">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" placeholder="insert name..." value="{{.Name}}" required>
    <label for="version">Version: </label>
    <input type="text" name="version" id="version" value="{{.Version}}">
    {{range .Parameter}}
    <label for="parameter{{.ID}}">{{ .Name }}-{{ .Type }}-{{ .Comparer }}</label>
    <div class="flex flex-row w-full">
        {{ if eq .Type "datetime" }}
        <input class="w-full" type="datetime-local" name="parameter{{.ID}}" id="parameter{{.ID}}" required
               value="{{ if .ParameterValues }}{{(index .ParameterValues 0).Value }}{{ end }}">
        {{ else }}
        <input class="w-full" type="text" name="parameter{{.ID}}" id="parameter{{.ID}}" required
               value="{{ if .ParameterValues }}{{(index .ParameterValues 0).Value }}{{ end }}"
        >
        {{end}}

        {{ if eq .Comparer "range" }}
            {{ if eq .Type "datetime" }}
            <input class="ml-2 w-full" type="datetime-local" name="range{{.ID}}" id="range{{.ID}}" required
                   value="{{ if .ParameterValues }}{{(index .ParameterValues 0).Value }}{{ end }}">
            {{ else }}
            <input class="ml-2 w-full" type="text" name="range{{.ID}}" id="range{{.ID}}" required
                   value="{{ if .ParameterValues }}{{(index .ParameterValues 0).Value }}{{ end }}"
            >
            {{end}}
        {{end}}
    </div>
    {{end}}
    <input type="submit" value="save">
</form>
<div id="output"></div>
