<section id="configuration_edit">
    {{template "configuration/configuration" .}}
    <form hx-post="/configuration/create/parameter/{{.Configuration.Version}}" hx-target="#configuration_edit"
          class="flex flex-row gap-2">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="insert name...">
        <label for="type">Add </label>
        <select name="type" id="type" hx-get="/configuration/comparer" hx-trigger="change" hx-swap="innerHTML"
                hx-target="#comparer_outlet" required>
            {{range $type := .ParameterTypes}}
            <option value="{{ $type }}">{{$type}}</option>
            {{end}}
        </select>
        <section id="comparer_outlet">
            {{template "configuration/parameter_compare" .}}
        </section>
        <input type="submit" value="submit">
    </form>
</section>
