<tr id="row{{.Version}}">
    <td>{{.Version}}</td>
    <td>{{if .Active}} active {{else}} inactive {{end}}</td>
    <td>
        <a href="/configuration/edit/{{.Version}}" class="{{if .Active}} pointer-events-none bg-red-500 {{end}}">
            edit
        </a>
    </td>
    <td>
        <button hx-get="/configuration/status/change/{{.Version}}"
                hx-target="#row{{.Version}}"
                hx-swap="outerHTML"
        > {{if .Active}} deactivate {{else}} activate {{end}}
        </button>
    </td>
    <td>
        <a href="/configuration/show/{{.Version}}">
            show
        </a>
    </td>
    <td>
        <a href="/configuration/copy/{{.Version}}">
            copy
        </a>
    </td>
    <td>
        <a href="/configuration/delete/{{.Version}}">
            delete
        </a>
    </td>
    <td>
        <a href="/product/overview/{{.Version}}">
            to products
        </a>
    </td>
</tr>
